/* STEP 1: Configure an element to be animated
    using the shortcut "animation" property which combines name, duration iteration count, and timing function into ONE LINE
*/
#animated-emoji {
    font-size: 40px;
    display: inline-block; /* spin in place */
    animation: move-emoji 5s infinite ease-in-out;
}
/* STEP 2: Define an animation sequence */
@keyframes move-emoji {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg) scale(1.3);
    }
    100% {
        transform: rotate(360deg);
    }
}













.box {
    background:powderblue;
    margin: 20px;
    width: 100px;
    height:100px;
    text-align:center;
}

/* TRANSFORM is a propeerty with function values that change elements in various ways */

#rotate {
    transform:rotate(-30deg);
}

#scale {
    transform:scale(0.5);
    /* scale(1) is original
    less than 1 is smaller
    greater than 1 is bigger
    */
}

#skew {
    transform:skew(-30deg);
}

/* translate(x) moves to the right (if x is positive) translate(x,y) moves diagonally translate (0,y) moves down */
#translate {
    transform: translate(100px, -20px);
}

/* you can chain multiple transforms on the same element */
#chain {
    transform: rotate(95deg) skew(-30deg) ;
}