.box {
    background:powderblue;
    margin: 20px;
    width: 100px;
    height:100px;
    text-align:center;
}

/* TRANSFORM is a propeerty with function values that change elements in various ways */

#rotate {
    transform:rotate(-30deg);
}

#scale {
    transform:scale(0.5);
    /* scale(1) is original
    less than 1 is smaller
    greater than 1 is bigger
    */
}

#skew {
    transform:skew(-30deg);
}

/* translate(x) moves to the right (if x is positive) translate(x,y) moves diagonally translate (0,y) moves down */
#translate {
    transform: translate(100px, -20px);
}

/* you can chain multiple transforms on the same element */
#chain {
    transform: rotate(95deg) skew(-30deg) ;
}